<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <MiComponente />
    <New />
    {{ miVariable }}<br />
    <button @click="increment()">Presioname</button>
    <span>El valor es: {{ number }}</span>
    <div>{{ double }} - {{ calculate() }}</div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import MiComponente from "@/components/MiComponente.vue";
import New from "@/components/New.vue";
export default {
  name: "home",
  components: {
    HelloWorld,
    MiComponente,
    New
  },
  data: () => ({
    condition: false,
    miVariable: "Yo si salgo",
    number: 20,
    value: 20
  }),
  computed: {
    double() {
      return this.value * 2;
    }
  },
  methods: {
    increment() {
      this.number = this.number + 20;
    },
    calculate() {
      return this.double + 1;
    }
  }
};
</script>
